numpy
matplotlib
scikit-learn
scipy
emcee
tqdm
dynesty
uravu>=1.2.4
pymatgen
uncertainties
periodictable
MDAnalysis
statsmodels
pandas
coverage
codeclimate-test-reporter
nbsphinx
jupyter-sphinx
sphinx_rtd_theme
