numpy
scikit-learn
scipy>=1.9.3
tqdm
uravu>=1.2.9
pymatgen
MDAnalysis
coverage
codeclimate-test-reporter
ipykernel
nbsphinx
corner
sphinx_book_theme
sphinx_autodoc_typehints
h5py
pymatgen-analysis-diffusion