name: python-ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10',
                         '3.11',
                         '3.12',
                         '3.13']
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install '.[dev]'
        pip install pytest
        pip install pytest-cov
    - name: Lint code with ruff
      run: | 
        ruff check .
    - name: Check code formatting with ruff
      run: |
        ruff format --check .
      continue-on-error: true
    - name: Generate coverage report
      run: |
        pytest --cov-report xml --cov=.
    - name: Publish code coverage
      if: github.event_name == 'push'
      uses: paambaati/codeclimate-action@v2.7.5
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CODECLIMATE_REPO_TOKEN }}
